<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AarogyaMitra</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <main class="main1">
        <nav>
            <div class="nav2">
                <div class="img-logo">
                    <img src="logo_hexagonal-removebg-preview.png" style="width:100px; height:100px;">
                    <div class="name-logo">
                        AarogyaMitra
                    </div>
                </div>
                <div class="main-a">
                    <a href="home.html">HOME</a>
                    <a href="features.html">FEATURES</a>
                    <a href="contact.html">CONTACT US</a>
                    <a class="co" href="about.html">ABOUT US</a>
                    <button class="get-s"><a class="get-started" href="login.html">GET STARTED
                        </a></button>
                </div>
            </div>
        </nav>
<main class="main5">
        <section class="about">
            <div class="our ab">
                ABOUT US
            </div>
            <header class="what">
                What is AarogyaMitra?
            </header>
            <div class="wia">
                • <b class="b">AarogyaMitra Pvt. Ltd.</b>is a private limited company in india.
            </div>
            <div class="wia wia2">
                • Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe praesentium facilis in. Impedit
                ex, enim velit ab nostrum pariatur perspiciatis? Saepe hic ab, ipsum doloremque expedita e dolor quia
                earum blanditiis dicta ipsa, aliquid minus nihil?
            </div>
            <hr>
            <header class="what what2">
                What they do / Offer
            </header>
            <div class="wia">
                <b class="b">• AarogyaMitra & Holistic Health Products:</b>
             </div>
            <div class="wia wia2">
                •Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe praesentium facilis in. Impedit ex,
                enim velit ab nostrum pariatur perspiciatis? Saepe hic 
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam explicabo repellat esse quasi voluptatum itaque laudantium dicta illo cupiditate molestiae?
                ab, ipsum doloremque expedita e dolor quia earum
                blanditiis dicta ipsa, aliquid minus nihil?
            </div>
            <div class="wia wia3">
                <b class="b">• Education & Training:</b>
             </div>
            <div class="wia wia2">
                •Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim saepe praesentium facilis in. Impedit ex,
                enim velit ab nostrum pariatur perspiciatis? Saepe hic 
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam explicabo repellat esse quasi voluptatum itaque laudantium dicta illo cupiditate molestiae?
                ab, ipsum doloremque expedita e dolor quia earum
                blanditiis dicta ipsa, aliquid minus nihil?
            </div>
            <hr>
            <header class="what what2">
                Additional Details
            </header>
            <div class="wia w">
                <b class="b">• Registered in 2025.</b>
             </div>
            <div class="wia w2">
                <b class="b">• Based in India.</b>
             </div>
            <div class="wia w2">
                <b class="b">• The company emphasizes authenticity in AarogyaMitra - organic, traditional, no compromise.
                </b>
             </div>
        </section>
    </main>
    <footer>
        <section class="sec-foot">
            <section class="sec-foot1">
                Reach At
                <div class="sec-ft1">
                    <img src="icons8-location-50.png" width="18px">
                    Location
                </div>
                <div class="sec-ft2">
                    <img src="icons8-call-50.png" width="18px" style="rotate: 280deg;">

                    Call
                </div>
                <div class="sec-ft3">
                    <img src="icons8-letter-50.png" width="16px">

                    demo
                </div>
                <div class="social">
                    <img src="icons8-f-50.png" width="30px">
                    <img src="icons8-twitter-bird-50.png" width="30px">
                    <img src="icons8-in-24.png" width="30px"><img>
                    <img src="icons8-instagram-48.png" width="30px">
                </div>
            </section>
            <section class="sec-foot2">
                About

                <div class="sec-ft22">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deleniti ipsa consectetur consectetur
                    adipisicing elit. Nam deleniti ipsa consectetursit officia blanditiis odit rerum, voluptates vitae
                    consequatur, animi neque laudantium.
                </div>
            </section>
            <section class="sec-foot3">
                Links
                <div class="sec-ft33">
                    <div class="sec-ft333"><a class="aaa" href="home.html">HOME</a></div>
                    <div class="sec-ft333"><a class="aaa" href="features.html">FEATURES</a></div>
                    <div class="sec-ft333"><a class="aaa" href="contact.html">CONTACT US</a></div>
                    <div class="sec-ft333"><a class="aaa" href="about.html">ABOUT US</a></div>

                </div>
            </section>
            <section class="sec-foot4">
                Newsletter
                <div class="sec-ft44">
                    <input class="newsletter" type="text" placeholder="Enter Email" required>
                </div>
                <button class="newsletter-btn"><a class="newsletter-btn-a" href="home.html">Subscribe</a></button>
            </section>
        </section>
        <p class="last-foot"> © 2025 All Rights Reserved By <b>AarogyaMitra.</b>
        </p>
        <p class="last-foot2">Develop by <b> SAGAR SUTHAR</b>
        </p>
    </footer>
</body>

</html>