body{
    margin: 0;
    padding: 0;
}
.main1{
    width: 100%;
height: 100vh;
background-image: url(hero-bg.png);
background-repeat: no-repeat;
background-size:cover;
/* background-attachment:fixed; */
}
nav{
    background-color: rgba(52, 50, 50, 0.954);
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
}
.img-logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.name-logo{
    font-size: xx-large;
font-family: sans-serif;
    font-weight: 900;
    color: rgb(114, 199, 177);
    margin-left: -20px;
}
.main-a,a{
    color: rgb(80, 183, 155);
    /* color: white; */
font-size: 17px;
font-family: sans-serif;
font-weight: 560;
text-decoration: none;
padding: 0px 30px;
display: flex;
align-self: center;
transition: all 0.2s ease-in-out;
}
.co{
    color: white;
}
.main-a,a:hover{
color: white;
}
.get-s{
    height: 40px;
    border-radius: 5px;
    width: 150px;
    background-color :rgb(45, 141, 112);
    border: none;
    margin-left: 30px;
}

.get-started{
font-size: 14px;
color: white;
width: 100px;
padding-left: 20px;
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
}
.main3{
    width: 100%;
    height: 700px;
}
.sec-touch{
    width:500px;
    height: 500px;
    justify-self: center;
    margin-top: 50px;
background-color: white;
padding:10px 100px 40px 100px;
border-radius: 10px;
}
.get{
    justify-self:center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 30px;
}
.name-no{
    width: 130%;
    justify-self: center;
    margin-left: 20px;
}
.name{
    height: 45px;
    width: 45%;
    border: none;
    background-color:rgb(224, 224, 224);
    font-size: 17px;
    padding-left: 20px;
        transition: all 0.2s ease-in-out;

}
.no,.input-email,.textarea{
    background-color: rgb(224, 224, 224);
    height: 45px;
    border: none;
    width: 45%;
    margin-left: 5px;
    color: black;
    font-size: 17px;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}
.input-email:hover{
    box-shadow: 0px 0px 20px rgb(34, 106, 84);
}
.no:hover{
    box-shadow: 0px 0px 20px rgb(34, 106, 84);
}
.name:hover{
    box-shadow: 0px 0px 20px rgb(34, 106, 84);
}
.textarea:hover{
    box-shadow: 0px 0px 20px rgb(34, 106, 84);
}
.input-email,.textarea{
    width: 123.3%;
    margin-left: -65px;
    margin-top: 15px;
}
.textarea{
align-content: center;
height: 200px;
}
.sec-btn{
    width: 127.8%;
    border: none;
    margin-top: 10px;
    height: 50px;
    background-color :rgb(45, 141, 112);
    font-size: 17px;
    color: white;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
margin-left: -65px;
}
.sec-btn:hover{
border: 2px solid rgb(45, 141, 112);
background-color: transparent;
color: rgb(45, 141, 112);

}
.sec-btn-a{
    color: white;
    justify-content: center;
    width: 92%;
    margin-left: -5px;
    height: 45px;
    align-items: center;
}
.sec-btn-a:hover{
color: rgb(45, 141, 112);
}
footer{
    width: 100%;
    height: 430px;
        background-color: rgb(31, 127, 98);
        justify-items: center;
}
.sec-foot{
    display: flex;
    width: 1300px;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: whitesmoke;
}
.sec-ft1,.sec-ft2,.sec-ft3{
    padding: 20px 0px 0px;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color: whitesmoke;
    transition: all 0.2s ease-in-out ;
}
.sec-ft1:hover{
    color: rgb(60, 202, 60);
}
.sec-ft2:hover{
    color: rgb(60, 202, 60);
}
.sec-ft3:hover{
    color: rgb(60, 202, 60);
}
.sec-ft22{
    width: 400px;
    padding: 20px 0px 10px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    line-height:25px;
}
.sec-ft33{
    margin-left:-54px;
}
.sec-ft333{
    padding: 20px;
    padding-bottom: 0;
    font-size: 15px;
}
.aaa{
    color: whitesmoke;
}
.aaa:hover{
color:rgb(60, 202, 60);
}
.last-foot{

color: whitesmoke;
font-size: 18px;
font-family: sans-serif;
font-weight: 400;
margin-top: 10px;

}
.last-foot2{
    color: whitesmoke;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;

}
b:hover{
    color: rgb(60, 202, 60);
}

.social{
    margin:10px -12px;
}
.newsletter{
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    margin-top: 27px;
    font-size: 17px;
}
.newsletter-btn{
    width: 267px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgb(68, 207, 160);
    font-size: 17px;
    color: white;
    transition: all 0.2s ease-in-out;
}
.newsletter-btn:hover{
background-color: transparent;
border: 2px solid rgb(103, 201, 146);
color: rgb(103, 201, 146);
}
.newsletter-btn-a{
    color: white;
    height: 40px;
    width: 82%;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
}
.newsletter-btn-a:hover{
color: rgb(103, 201, 146);
}
