*{
    margin: 0;
    padding: 0;
}
.main1{
    width: 100%;
height: 100vh;
background-image: url(hero-bg.png);
background-repeat: no-repeat;
background-size:cover;
/* background-attachment:fixed; */
}
nav{
    background-color: rgba(52, 50, 50, 0.954);
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
}
.img-logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.name-logo{
    font-size: xx-large;
font-family: sans-serif;
    font-weight: 900;
    color: rgb(114, 199, 177);
    margin-left: -20px;
}
.main-a,a{
    color: rgb(80, 183, 155);
    /* color: white; */
font-size: 17px;
font-family: sans-serif;
font-weight: 560;
text-decoration: none;
padding: 0px 30px;
display: flex;
align-self: center;
transition: all 0.2s ease-in-out;
}
.main-a,a:hover{
color: white;
}
.get-s{
    height: 40px;
    border-radius: 5px;
    width: 150px;
    background-color :rgb(45, 141, 112);
    border: none;
    margin-left: 30px;
}

.get-started{
font-size: 13px;
color: white;
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
}
.main-sec{
    width: 800px;
    height:570px;
    background-color:white;
    justify-self: center;
margin-top: 50px;
border-radius: 10px;
}

.login{
    font-size: 30px;
    font-family: sans-serif;
        color: rgba(52, 50, 50, 0.954);
font-weight: 600;
padding: 20px 30px;

}
.logo1{
    display: flex;
align-items: center;
width: 420px;

}
.letter{
    margin-left: 30px;
    position: absolute;
    margin-top: 35px;

}
.input-email{
    border: none;
    background-color: unset;
    width: 400px;
border-bottom: 2px solid rgb(196, 196, 196);
margin: 40px 80px 0px;
height: 50px;
padding-left: 20px;
font-size: 20px;
color: rgb(60, 60, 60);
/* padding-left: 10px; */

}
.logo-main{
    display: flex;
    flex-direction: row;
}
.are{
    justify-self: center;
    padding:60px 0px 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    color:  rgb(99, 99, 99);
    font-size: 20px;
}
.radio{
    justify-self: center;
}
.r{
    padding-right: 20px;
    font-size: 20px;
    padding-left: 5px;
    color:  rgb(99, 99, 99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ra{
    width: 20px;
    height: 20px;
}
.login-btns{
 justify-self: center;
}
.login-btn{
    background-color: rgb(53, 154, 124);
    border: none;
    width: 400px;
    height: 50px;
    margin-top: 40px;
    border-radius: 8px;
}
.login-btn2{
    color: white;
    justify-self: center;
}
.si{
    display: flex;
    justify-self: center;
    margin-top: 30px;
    font-size: 16px;
    font-family: sans-serif;
        color: rgb(99, 99, 99);

}
.si2{
    padding-left: 5px;
    font-size: 16px;
    color: rgb(55, 130, 110);
    transition: none;
}
.si2:hover{
    color: rgb(55, 130, 110);
}
footer{
    width: 100%;
    height: 430px;
        background-color: rgb(31, 127, 98);
        justify-items: center;
}
.sec-foot{
    display: flex;
    width: 1300px;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: whitesmoke;
}
.sec-ft1,.sec-ft2,.sec-ft3{
    padding: 20px 0px 0px;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color: whitesmoke;
    transition: all 0.2s ease-in-out ;
}
.sec-ft1:hover{
    color: rgb(60, 202, 60);
}
.sec-ft2:hover{
    color: rgb(60, 202, 60);
}
.sec-ft3:hover{
    color: rgb(60, 202, 60);
}
.sec-ft22{
    width: 400px;
    padding: 20px 0px 10px;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    line-height:25px;
}
.sec-ft33{
    margin-left:-54px;
}
.sec-ft333{
    padding: 20px;
    padding-bottom: 0;
    font-size: 15px;
}
.aaa{
    color: whitesmoke;
}
.aaa:hover{
color:rgb(60, 202, 60);
}
.last-foot{

color: whitesmoke;
font-size: 18px;
font-family: sans-serif;
font-weight: 400;
margin-top: 10px;

}
.last-foot2{
    color: whitesmoke;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;

}
b:hover{
    color: rgb(60, 202, 60);
}

.social{
    margin:10px -12px;
}
.newsletter{
    width: 250px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    margin-top: 27px;
    font-size: 17px;
}
.newsletter-btn{
    width: 267px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgb(68, 207, 160);
    font-size: 17px;
    color: white;
    transition: all 0.2s ease-in-out;
}
.newsletter-btn:hover{
background-color: transparent;
border: 2px solid rgb(103, 201, 146);
color: rgb(103, 201, 146);
}
.newsletter-btn-a{
    color: white;
    height: 40px;
    width: 82%;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
}
.newsletter-btn-a:hover{
color: rgb(103, 201, 146);
}